body {
  font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.3em;
  margin-right: 93px;
}
.blue-text {
  color: #2196f3;
}

/* HEADER */
.header {
  width: 1170px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1em;
}
.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}
.contact-addreses {
  display: flex;
}
.contact-item:first-child {
  margin-right: 50px;
}
.nav-link {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1em;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

/* HERO-SECTION */
.hero-section-wrapper {
  background: #2f303a;
}
.hero-section {
  color: #ffffff;
  text-align: center;
  margin: auto;
}
.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 3.75em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 30px;
}
.hero-section-button {
  color: #ffffff;
  font-weight: 700;
  background: #2196f3;
  border: none;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* MAIN */
.main {
  background: #e5e5e5;
}
.about-section-text {
  display: flex;
}
.about-section-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 94px;
  padding-bottom: 10px;
}

.about:not(:last-child) {
  margin-right: 30px;
}
.about-section-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}
.processes-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.55em;
  text-align: center;
  letter-spacing: 0.03em;
}
.section {
  padding-right: 215px;
  padding-bottom: 94px;
  padding-left: 215px;
  box-sizing: content-box;
}
img {
  display: block;
}
.team-section {
  background: #f5f4fa;
}
.team-block-title {
  font-weight: 500;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-block-text {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: #fff;
}
/* FOOTER */
.footer {
  background: #2f303a;
}
.footer-address {
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

/* PORTFOLIO PAGE */

.portfolio-button {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #2196f3;
  color: #fff;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25em;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: #757575;
}
