body {
  font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 26px;
  line-height: 1.3em;
  margin-right: 93px;
}
.blue-text {
  color: #2196f3;
}

.project-section {
  max-width: 1170px;
  margin: 0 auto;
}
.project-section {
  padding-top: 100px;
}
/* HEADER */
.header {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
}
.navigation {
  display: flex;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.contact-link {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1em;
}
.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}
.contact-addreses {
  display: flex;
}
.contact-item:first-child {
  margin-right: 50px;
}
.nav-link {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1em;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

/* HERO-SECTION */
.hero-section-wrapper {
  background: #2f303a;
  box-sizing: border-box;
}
.hero-section {
  color: #ffffff;
  margin: auto;
  text-align: center;
  box-sizing: content-box;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero-section-button {
  color: #ffffff;
  font-weight: 700;
  background: #2196f3;
  border: none;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}

/* MAIN */
.main {
  border-top: 1px solid #ececec;
}
.section {
  padding-top: 94px;
  margin: 0 auto;
  max-width: 1170px;
  padding-bottom: 94px;
}
.about-section-text {
  display: flex;
}
.about-section-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about:not(:last-child) {
  margin-right: 30px;
}

.about-section-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}

.processes-section {
  max-width: 1170px;
  margin: 0 auto;
  padding-bottom: 94px;
}

.processes-section-list {
  display: flex;
  justify-content: space-between;
}

.processes-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166em;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  padding-top: 94px;
}

.section-section-text {
  box-sizing: border-box;
  max-width: 1170px;
  height: 101px;
  padding-right: 30px;
}
img {
  display: block;
}

.team-section {
  max-width: 1170px;
  margin: 0 auto;
}

.team-photos {
  display: flex;
  justify-content: space-between;
}

.team-photos-wrapper {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team-section-wrapper {
  background: #f5f4fa;
  padding-bottom: 94px;
}
.team-block-title {
  font-weight: 500;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  padding-bottom: 10px;
}
.team-block-text {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
}
.footer-logo {
  color: #fff;
}

/* FOOTER */

.footer-wrapper {
  background: #2f303a;
}

.footer {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address {
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
  font-style: normal;
  padding-bottom: 9px;
}

.footer-link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: 0.03em;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.footer-item:first-child {
  padding-bottom: 9px;
}
/* PORTFOLIO PAGE */

.portfolio-button {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  margin-right: 8px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #2196f3;
  color: #fff;
  border-radius: 4px;
  padding: 6px 22px;
}

.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
}

.list-buttons {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1170px;
  margin-bottom: 56px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2.25em;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: #757575;
}
.project-image-block {
  height: 294px;
  width: 370px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.image-first {
  background-image: url(../images2/img10.1.jpg);
}
.image-second {
  background-image: url(../images2/img10.2.jpg);
}
.image-third {
  background-image: url(../images2/img10.3.jpg);
}
.image-fourth {
  background-image: url(../images2/img10.4.jpg);
}
.image-fifth {
  background-image: url(../images2/img10.5.jpg);
}
.image-sixth {
  background-image: url(../images2/img10.6.jpg);
}
.image-seventh {
  background-image: url(../images2/img10.7.jpg);
}
.image-eighth {
  background-image: url(../images2/img10.8.jpg);
}
.image-ninth {
  background-image: url(../images2/img10.9.jpg);
}
.project-block-link {
  display: block;
  width: 370px;
  margin-bottom: 30px;
}
.portfolio-list-title {
  padding-bottom: 4px;
}
.portfolio-list-text {
  padding-bottom: 20px;
}
.project-text-block {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
.pozition {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
